Source: jtgretry
Section: utils
Priority: optional
Maintainer: Jeremy Grosser <jeremy@synack.me>
Build-Depends: debhelper-compat (= 12), gnat (>= 9)
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/JeremyGrosser/retry
Vcs-Git: https://github.com/JeremyGrosser/retry.git

Package: jtgretry
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: run a command until it succeeds
